p {
    text-align: center;
    font-size: 20px;
}
.firstbox {
    background-color: #5D6C89;
    color: white;
    border-bottom: 3px solid black;
    display: flex;
    display: center;
    flex-direction: row;
    justify-content: space-between;
}

.right {
    width: 300px;
    display: flex;
    displaY: center;
    justify-content: space-between;
}

main {
    display: grid;
    background-color: #FBF6F3;
    height: 2000px;
    margin: 40px auto;
    grid-template-columns: [left] 1fr [right];
    grid-template-rows: [top] 1fr [middle] 1fr [center] 1fr [bottom];
}

.about {
    
    grid-column: left/right;
    grid-row: top/middle;
    width: 100%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 33.3%;
    padding: 50px;
    border-radius: 50%;
}


.projects {
    
    grid-column: left/right;
    grid-row: middle/center;
    width: 100%;
}

.contact {
    
    grid-column: left/right;
    grid-row: center/bottom;
    width: 100%;
}
