p {
    text-align: center;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    word-spacing: 4px;
    line-height: 1.6;
}

.firstbox {
    background-color: #000000;
    color: white;
    display: flex;
    display: center;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding-left: 50px;
    padding-right: 50px;
}

.right {
    width: 300px;
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

.right1:hover {
    font-size: larger;
}


.burger {
    color: white;
    font-size: x-large;
    display: none;
}
.webdev {
    text-align: center;
    margin: bottom;
}


body {
    padding-left: 50px;
    padding-right: 50px;
    
}

main {
    display: grid;
    background-color: #FBF6F3;
    margin: 40px auto;
    grid-template-columns: [left] 1fr [right];
    grid-template-rows: [top] .5fr [middle] 1fr [center] .5fr [bottom];
}

a {
    text-decoration: none;
    color: inherit;
}

.about {
    
    grid-column: left/right;
    grid-row: top/middle;
    width: 100%;
   
}

.img1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 33.3%;
    padding: 50px;
    border-radius: 50%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 33.3%
}

.target1 {
    display: block;
    text-align: center;
}


.projects {
    
    grid-column: left/right;
    grid-row: middle/center;
    width: 100%;
   
}
.plink {
    display: block;
    text-align: center;
}
.center1 {
    text-align: center;
}

.target2 {
    display: block;
    text-align: center;
}


.contact {
    
    grid-column: left/right;
    grid-row: center/bottom;
    width: 100%;
    margin: 30px;
   
}

.contact1 {
    width: 640px;
    height: 812px;
}

.target3 {
    display: block;
    text-align: center;
}

.lastbox {
    display: flex;
    justify-content: center;
}

footer {
    background-color: #000000;
    color: white;
    display: flex;
    display: center;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding-left: 50px;
    padding-right: 50px;
    height: 50px;
}


@media (max-width: 414px) {
    p {
        font-size: 25px;
        word-spacing: 4px;
        width: 350px;
    }

    .firstbox {
        width: 348px;
        height: 150px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .right {
        display: flex;
        /* justify-content: center; */
        flex-direction: column;
        position: absolute;
        
    
    }

    .right1 {
        
        display: none;
        margin-right: 150px;
    }

    .burger {
        display: block; 
        margin-right: 0px;
    

    }
    .left {
        font-size: 20px;
        position: absolute;
        margin-left: 50px;
        top: 15px;
    }
   

    body {
        padding-left: 0px;
        padding-right: 0px;
    }

    main {
        display: grid;
        background-color: #FBF6F3;
        margin: 0px auto;
        grid-template-columns: [left] 1fr [right];
        grid-template-rows: [top] .2fr [middle] .3fr [center] .2fr [bottom];
    }
   
    .contact1 {
        width: 300px;
        height: 812px;
    }
    footer {
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media (max-width: 768px) {
    .right {
        margin: 50px;
    }
    body {
        padding-left: 25px;
        padding-right: 25px;
    }
    .lastbox {
        display: inline-block;
    }

    .target3 {
        padding-right: 70px;

    }

    
}